$primary: #F2BDD6;
$secondary: #BF95BC;
$rare: #FEB9AA;
$resalt: #7C6C8C;


$dark-first: #0000005d;
$dark-secondary: #00000038;

$light-first: #a27fa0;
$light-secondary: #dcabd8;


$primary-first: #9c77899d;
$primary-secondary: #a1889c73;

$rare-first: #d89d91;
$rare-secondary: #ffd5c4;

