@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/**
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif;
**/
body {
  background: $secondary;
  color: $resalt;

  main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 10vw;
    margin: 20px;
    padding-right: 20px;

    .catalogo {
      width: 60vw;

      .encabezado {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        width: 100%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
      }

      .catalogo-cuerpo {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px 0 5px 0;
        
        .producto {
          position: relative;
          margin: auto;
          height: 200px;
          overflow: hidden;
          width: 90%;
          border-radius: 0.8em;
          background: $primary;
          box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
          animation: addCard 1s;

          img {
            width: 120px;
            height: 120px;
            border-radius: 1.1em;
						margin: 15px;
						box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary;
          }

          h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            width: 44%;
            position: absolute;
            top: -10px;
            right: 1em;
            text-align: end;
            border-bottom: 1px $resalt solid;
          }

          .descripcion {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            width: 100px;
            position: absolute;
            top: 1.5em;
            right: 1em;
            text-align: end;
          }

          .cantidad {
            height: 10px;
          }

          .cantidadPedida {

            .menos, .mas { 
              color: $resalt;
              background-color: transparent;
              width: 5em;
              height: 2.3em;
              border-radius: 1.3rem;
              margin: 0 10px 0 10px;
              border: none;
              box-shadow: 6px 6px 14px $primary-first, -6px -6px 14px $primary-secondary;
              text-align: center;
              outline-style: none;
              text-decoration: none;
              cursor: pointer;

              span {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 0.9rem;
              }
            }

            .menos:active, .mas:active { 
              box-shadow: inset 6px 6px 14px $primary-first, inset -6px -6px 14px $primary-secondary
            }

            input { 
              font-family: 'roboto', sans-serif;
              font-weight: 800;
              color: $resalt;
              width: 45%;
              text-align: center;
              text-decoration-line: underline;
              outline-style: none;
              background-color: $primary;
              border: 5px solid $primary;
              border-radius: 1.3rem;
              box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary, inset 6px 6px 14px $rare-first, inset -6px -6px 14px $rare-secondary;
            }
            
          }
          
        }

      }

    }

    .carrito {
      width: 30vw;
      height: 88vh;
      position: fixed;
      top: 40px;
      right: 40px;
      border-radius: 1.2em;
      background:$secondary;
      box-shadow: inset 10px 10px 14px $dark-first, inset -10px -10px 14px $dark-secondary;

      h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 3px 3px 8px $light-first, -3px -3px 8px $light-secondary;
      }

      .carrito-cuerpo {
        overflow-y: auto;
        height: 51vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(120px, auto);
        padding: 20px 0 20px 0;

        .productoDelCarrito {
          position: relative;
          margin: auto;
          height: 110px;
          overflow: hidden;
          width: 90%;
          border-radius: 0.5em;
          background: $primary;
          box-shadow: 3px 3px 8px $light-first, -3px -3px 8px $light-secondary;
          animation: addCard 1s;

          img {
            width: 90px;
            height: 90px;
            border-radius: 0.5em;
						margin: 10px;
						box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary;
          }

          h3 {        
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            width: 44%;
            position: absolute;
            top: -10px;
            right: 4.9em;
            text-align: start;
            border-bottom: 1px $resalt solid;
          }

          .detalleCopra {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            width: 100px;
            position: absolute;
            top: 1.7em;
            right: 5.7em;
            text-align: end;
            border-bottom: 1px $resalt solid;
          }

          .subtotal {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            width: 44%;
            position: absolute;
            top: 3.5em;
            right: 5.1em;
            display: flex;
            justify-content: space-between;
          }

          button {
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='67' viewBox='0 0 60 67'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23eeb4ec;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='6' y='6' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='3' dy='3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-3' dy='-3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(12 12)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            transform: scale(0.5);
            width: 15%;
            height: 60%;
            position: absolute;
            top: 1.2em;
            right: 1.4em;
            border: none;
            text-align: center;
            outline-style: none;
            text-decoration: none;
          }

          button:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='61.625' height='67' viewBox='0 0 61.625 67'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23FF00009f;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='6' y='6' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='3' dy='3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-3' dy='-3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(12 12)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            transform: scale(0.5);
          }
        }
      }

        
      .carrito-cuerpo::-webkit-scrollbar {
        width: 0.5em;
      }
       
      .carrito-cuerpo::-webkit-scrollbar-track {
        box-shadow: inset 3px 3px 5px $light-first, inset -3px -3px 5px $light-secondary;
      }
       
      .carrito-cuerpo::-webkit-scrollbar-thumb {
        background-color: $light-first;
      }

      .encargarPedido {
				margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
        background-color: #82c91e;
        color: $resalt;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
				position: relative;
				transition: #82c91e 500ms;
				transform: translateZ(0);
				cursor: pointer;
				text-decoration: none;

        .whatsapp {
          position: absolute;
          left: 10px;
          width: 100px;
          height: 100px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='96.5' height='96.5' viewBox='0 0 96.5 96.5'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2382c91e;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='10' y='10' width='86.5' height='86.5' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='5' dy='5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='5' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='86.5' height='86.5' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-5' dy='-5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='5' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.278'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(20 20)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -20, -20)'%3E%3Cpath class='a' d='M48.038,40.21A28.007,28.007,0,0,0,3.973,74L0,88.5l14.844-3.9a27.913,27.913,0,0,0,13.381,3.405h.013a27.82,27.82,0,0,0,19.8-47.8Zm-19.8,43.081A23.229,23.229,0,0,1,16.382,80.05l-.845-.5-8.8,2.308L9.08,73.265l-.555-.883A23.316,23.316,0,1,1,51.771,60.01,23.531,23.531,0,0,1,28.237,83.291ZM41,65.862c-.694-.353-4.137-2.043-4.78-2.27s-1.11-.353-1.576.353-1.8,2.27-2.22,2.749-.82.53-1.513.177c-4.111-2.056-6.81-3.67-9.522-8.324-.719-1.236.719-1.148,2.056-3.821a1.3,1.3,0,0,0-.063-1.223c-.177-.353-1.576-3.8-2.157-5.2-.568-1.362-1.148-1.173-1.576-1.2-.4-.025-.87-.025-1.337-.025a2.592,2.592,0,0,0-1.867.87A7.861,7.861,0,0,0,14,53.793c0,3.443,2.51,6.772,2.85,7.239S21.78,68.561,28.8,71.6c4.439,1.917,6.18,2.081,8.4,1.753,1.349-.2,4.137-1.69,4.717-3.329a5.851,5.851,0,0,0,.4-3.329C42.161,66.379,41.694,66.2,41,65.862Z' transform='translate(20 -12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -20, -20)'%3E%3Cpath class='a' d='M48.038,40.21A28.007,28.007,0,0,0,3.973,74L0,88.5l14.844-3.9a27.913,27.913,0,0,0,13.381,3.405h.013a27.82,27.82,0,0,0,19.8-47.8Zm-19.8,43.081A23.229,23.229,0,0,1,16.382,80.05l-.845-.5-8.8,2.308L9.08,73.265l-.555-.883A23.316,23.316,0,1,1,51.771,60.01,23.531,23.531,0,0,1,28.237,83.291ZM41,65.862c-.694-.353-4.137-2.043-4.78-2.27s-1.11-.353-1.576.353-1.8,2.27-2.22,2.749-.82.53-1.513.177c-4.111-2.056-6.81-3.67-9.522-8.324-.719-1.236.719-1.148,2.056-3.821a1.3,1.3,0,0,0-.063-1.223c-.177-.353-1.576-3.8-2.157-5.2-.568-1.362-1.148-1.173-1.576-1.2-.4-.025-.87-.025-1.337-.025a2.592,2.592,0,0,0-1.867.87A7.861,7.861,0,0,0,14,53.793c0,3.443,2.51,6.772,2.85,7.239S21.78,68.561,28.8,71.6c4.439,1.917,6.18,2.081,8.4,1.753,1.349-.2,4.137-1.69,4.717-3.329a5.851,5.851,0,0,0,.4-3.329C42.161,66.379,41.694,66.2,41,65.862Z' transform='translate(20 -12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          transform: scale(0.5);
        }
      }

      .encargarPedido::before {
				content: "";
				border-radius: 0.5em;
        background-color: #80a842;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        transform: scaleX(0);
        transition-property: transform;
        transform-origin: 0% 50%;
        transition: 500ms ease-out;
      }

			.encargarPedido:hover::before {
				transform: scaleX(1);
				transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }

    }

    .carrito-counter {
      position: absolute;
      bottom: 1.1em;
      left: 1.1em;
      border-radius: 50%;
      border: 1px solid $resalt;
      background-color: $primary;
      width: 4em;
      height: 4em;
      
      span {
        font-size: 3em;
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='shopping-cart' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' class='svg-inline--fa fa-shopping-cart fa-w-18 fa-3x'%3E%3Cpath fill='currentColor' d='M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z' class=''%3E%3C/path%3E%3C/svg%3E");
        transform: scale(0.5);
      }

    }
  }
        
}

@keyframes addCard {
  to {
    left: 0px;
  }
  from {
    left: -100px;
    opacity: 0;
  }
}
