@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  background: $secondary;
  color: $resalt;

  main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 10vw;
    margin: 20px;
    padding-right: 20px;

    .catalogo {
      width: 60vw;

      .encabezado {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        width: 100%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
      }

      .catalogo-cuerpo {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px 0 5px 0;
        
        .producto {
          position: relative;
          margin: 5px auto;
          height: 200px;
          overflow: hidden;
          width: 90%;
          border-radius: 0.8em;
          background: $primary;
          box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
          animation: addCard 1s;

          .img{
            width: 120px;
            height: 120px;
            margin: 15px;
            cursor: pointer;
          
            img {
              max-width: 120px;
              max-height: 120px;
              border-radius: 1.1em;
              box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary;
            }
          }

          h3 {
            font-family: 'Roboto', sans-serif;
            white-space:nowrap;
            font-weight: 500;
            width: 44%;
            position: absolute;
            top: -10px;
            right: 1em;
            text-align: end;
            border-bottom: 1px $resalt solid;
          }

          .descripcion {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            width: 100px;
            position: absolute;
            top: 1.5em;
            right: 1em;
            text-align: end;
          }

          .cantidad {
            height: 10px;
          }

          .cantidadPedida {

            .menos, .mas { 
              color: $resalt;
              background-color: transparent;
              width: 5em;
              height: 2.3em;
              border-radius: 1.3rem;
              margin: 0 10px 0 10px;
              border: none;
              box-shadow: 6px 6px 14px $primary-first, -6px -6px 14px $primary-secondary;
              text-align: center;
              outline-style: none;
              text-decoration: none;
              cursor: pointer;

              span {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 0.9rem;
              }
            }

            .menos:active, .mas:active { 
              box-shadow: inset 6px 6px 14px $primary-first, inset -6px -6px 14px $primary-secondary
            }

            input { 
              font-family: 'roboto', sans-serif;
              font-weight: 800;
              color: $resalt;
              width: 45%;
              text-align: center;
              text-decoration-line: underline;
              outline-style: none;
              background-color: $primary;
              border: 5px solid $primary;
              border-radius: 1.3rem;
              box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary, inset 6px 6px 14px $rare-first, inset -6px -6px 14px $rare-secondary;
            }
            
          }
          
        }

      }

    }

    .carrito {
      width: 30vw;
      height: 88vh;
      position: fixed;
      top: 40px;
      right: 40px;
      border-radius: 1.2em;
      background:$secondary;
      box-shadow: inset 10px 10px 14px $dark-first, inset -10px -10px 14px $dark-secondary;

      h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 3px 3px 8px $light-first, -3px -3px 8px $light-secondary;
      }

      .carrito-cuerpo {
        overflow-y: auto;
        height: 51vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(120px, auto);
        padding: 20px 0 20px 0;

        .productoDelCarrito {
          position: relative;
          margin: auto;
          height: 110px;
          overflow: hidden;
          width: 90%;
          border-radius: 0.5em;
          background: $primary;
          box-shadow: 3px 3px 8px $light-first, -3px -3px 8px $light-secondary;
          animation: addCard 1s;

          .img{
            width: 90px;
            height: 90px;
            margin: 15px;
            cursor: pointer;
          
            img {
              max-width: 90px;
              max-height: 90px;
              border-radius: 1.1em;
              box-shadow: 3px 3px 8px $primary-first, -3px -3px 8px $primary-secondary;
            }
          }

          h3 {        
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            white-space:nowrap;
            width: 44%;
            position: absolute;
            top: -10px;
            right: 4.9em;
            text-align: start;
            border-bottom: 1px $resalt solid;
          }

          .detalleCopra {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            width: 100px;
            position: absolute;
            top: 1.7em;
            right: 5.7em;
            text-align: end;
            border-bottom: 1px $resalt solid;
          }

          .subtotal {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            width: 44%;
            position: absolute;
            top: 3.5em;
            right: 5.1em;
            display: flex;
            justify-content: space-between;
          }

          button {
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='67' viewBox='0 0 60 67'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23eeb4ec;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='6' y='6' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='3' dy='3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-3' dy='-3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(12 12)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            transform: scale(0.5);
            width: 15%;
            height: 60%;
            position: absolute;
            top: 1.2em;
            right: 1.4em;
            border: none;
            text-align: center;
            outline-style: none;
            text-decoration: none;
          }

          button:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='61.625' height='67' viewBox='0 0 61.625 67'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23FF00009f;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='6' y='6' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='3' dy='3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='55.625' height='61' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-3' dy='-3' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(12 12)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -12, -12)'%3E%3Cpath class='a' d='M2.688,38.969A4.031,4.031,0,0,0,6.719,43H30.906a4.031,4.031,0,0,0,4.031-4.031V10.75H2.688Zm22.844-21.5a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0Zm-8.063,0a1.344,1.344,0,1,1,2.688,0V36.281a1.344,1.344,0,1,1-2.688,0ZM36.281,2.687H26.2l-.789-1.571A2.016,2.016,0,0,0,23.608,0h-9.6a1.992,1.992,0,0,0-1.8,1.117l-.789,1.571H1.344A1.344,1.344,0,0,0,0,4.031V6.719A1.344,1.344,0,0,0,1.344,8.062H36.281a1.344,1.344,0,0,0,1.344-1.344V4.031A1.344,1.344,0,0,0,36.281,2.687Z' transform='translate(12 12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            transform: scale(0.5);
          }
        }
      }

        
      .carrito-cuerpo::-webkit-scrollbar {
        width: 0.5em;
      }
       
      .carrito-cuerpo::-webkit-scrollbar-track {
        box-shadow: inset 3px 3px 5px $light-first, inset -3px -3px 5px $light-secondary;
      }
       
      .carrito-cuerpo::-webkit-scrollbar-thumb {
        background-color: $light-first;
      }

      .encargarPedido {
				margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 45px;
        border-radius: 0.5em;
        background: $primary;
        box-shadow: 6px 6px 14px $light-first, -6px -6px 14px $light-secondary;
        background-color: #82c91e;
        color: $resalt;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
				position: relative;
				transition: #82c91e 500ms;
				transform: translateZ(0);
				cursor: pointer;
				text-decoration: none;

        .whatsapp {
          position: absolute;
          left: 10px;
          width: 100px;
          height: 100px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='96.5' height='96.5' viewBox='0 0 96.5 96.5'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%2382c91e;%7D.b%7Bfilter:url(%23c);%7D.c%7Bfilter:url(%23a);%7D%3C/style%3E%3Cfilter id='a' x='10' y='10' width='86.5' height='86.5' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='5' dy='5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='5' result='b'/%3E%3CfeFlood flood-opacity='0.651'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3Cfilter id='c' x='0' y='0' width='86.5' height='86.5' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='-5' dy='-5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='5' result='d'/%3E%3CfeFlood flood-color='%23fff' flood-opacity='0.278'/%3E%3CfeComposite operator='in' in2='d'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(20 20)'%3E%3Cg class='c' transform='matrix(1, 0, 0, 1, -20, -20)'%3E%3Cpath class='a' d='M48.038,40.21A28.007,28.007,0,0,0,3.973,74L0,88.5l14.844-3.9a27.913,27.913,0,0,0,13.381,3.405h.013a27.82,27.82,0,0,0,19.8-47.8Zm-19.8,43.081A23.229,23.229,0,0,1,16.382,80.05l-.845-.5-8.8,2.308L9.08,73.265l-.555-.883A23.316,23.316,0,1,1,51.771,60.01,23.531,23.531,0,0,1,28.237,83.291ZM41,65.862c-.694-.353-4.137-2.043-4.78-2.27s-1.11-.353-1.576.353-1.8,2.27-2.22,2.749-.82.53-1.513.177c-4.111-2.056-6.81-3.67-9.522-8.324-.719-1.236.719-1.148,2.056-3.821a1.3,1.3,0,0,0-.063-1.223c-.177-.353-1.576-3.8-2.157-5.2-.568-1.362-1.148-1.173-1.576-1.2-.4-.025-.87-.025-1.337-.025a2.592,2.592,0,0,0-1.867.87A7.861,7.861,0,0,0,14,53.793c0,3.443,2.51,6.772,2.85,7.239S21.78,68.561,28.8,71.6c4.439,1.917,6.18,2.081,8.4,1.753,1.349-.2,4.137-1.69,4.717-3.329a5.851,5.851,0,0,0,.4-3.329C42.161,66.379,41.694,66.2,41,65.862Z' transform='translate(20 -12)'/%3E%3C/g%3E%3Cg class='b' transform='matrix(1, 0, 0, 1, -20, -20)'%3E%3Cpath class='a' d='M48.038,40.21A28.007,28.007,0,0,0,3.973,74L0,88.5l14.844-3.9a27.913,27.913,0,0,0,13.381,3.405h.013a27.82,27.82,0,0,0,19.8-47.8Zm-19.8,43.081A23.229,23.229,0,0,1,16.382,80.05l-.845-.5-8.8,2.308L9.08,73.265l-.555-.883A23.316,23.316,0,1,1,51.771,60.01,23.531,23.531,0,0,1,28.237,83.291ZM41,65.862c-.694-.353-4.137-2.043-4.78-2.27s-1.11-.353-1.576.353-1.8,2.27-2.22,2.749-.82.53-1.513.177c-4.111-2.056-6.81-3.67-9.522-8.324-.719-1.236.719-1.148,2.056-3.821a1.3,1.3,0,0,0-.063-1.223c-.177-.353-1.576-3.8-2.157-5.2-.568-1.362-1.148-1.173-1.576-1.2-.4-.025-.87-.025-1.337-.025a2.592,2.592,0,0,0-1.867.87A7.861,7.861,0,0,0,14,53.793c0,3.443,2.51,6.772,2.85,7.239S21.78,68.561,28.8,71.6c4.439,1.917,6.18,2.081,8.4,1.753,1.349-.2,4.137-1.69,4.717-3.329a5.851,5.851,0,0,0,.4-3.329C42.161,66.379,41.694,66.2,41,65.862Z' transform='translate(20 -12)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          transform: scale(0.5);
        }
      }

      .encargarPedido::before {
				content: "";
				border-radius: 0.5em;
        background-color: #80a842;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        transform: scaleX(0);
        transition-property: transform;
        transform-origin: 0% 50%;
        transition: 500ms ease-out;
      }

			.encargarPedido:hover::before {
				transform: scaleX(1);
				transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }

    }

    .carrito-counter {
      position: fixed;
      bottom: 1.1em;
      left: 1.1em;
      border-radius: 50%;
      border: 1px solid $resalt;
      background-color: $primary;
      width: 4em;
      height: 4em;
      
      .i-carrito {
        position: absolute;
        top: -5px;
        left: -10px;
        width: 5em;
        height: 5em;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.674 490.674' style='enable-background:new 0 0 490.674 490.674;' xml:space='preserve'%3E%3Cg%3E%3Ccircle style='fill:%23BF95BC;' cx='394.667' cy='426.671' r='53.333'/%3E%3Ccircle style='fill:%23BF95BC;' cx='181.333' cy='426.671' r='53.333'/%3E%3C/g%3E%3Cpath style='fill:%23ffa995;' d='M488,78.276c-2.026-2.294-4.94-3.607-8-3.605H96c-5.891-0.001-10.668,4.773-10.669,10.664 c0,0.717,0.072,1.433,0.216,2.136l42.667,213.333c1.014,4.967,5.384,8.534,10.453,8.533c0.469,0.031,0.939,0.031,1.408,0l320-42.667 c4.807-0.642,8.576-4.446,9.173-9.259l21.333-170.667C490.989,83.681,490.047,80.592,488,78.276z'/%3E%3Cg%3E%3Cpath style='fill:%23F2BDD6;' d='M181.333,266.671c-5.214-0.002-9.662-3.774-10.517-8.917l-21.333-128 c-0.791-5.838,3.3-11.211,9.138-12.002c5.59-0.758,10.804,2.969,11.897,8.504l21.333,128c0.963,5.808-2.961,11.298-8.768,12.267 C182.505,266.622,181.92,266.672,181.333,266.671z'/%3E%3Cpath style='fill:%23F2BDD6;' d='M234.667,256.004c-5.536,0.022-10.169-4.193-10.667-9.707l-10.667-117.333 c-0.552-5.865,3.755-11.067,9.621-11.619c0.029-0.003,0.057-0.005,0.086-0.008c5.867-0.531,11.053,3.796,11.584,9.663 c0,0,0,0.001,0,0.001l10.667,117.333c0.53,5.867-3.796,11.053-9.663,11.584c0,0-0.001,0-0.001,0L234.667,256.004z'/%3E%3Cpath style='fill:%23F2BDD6;' d='M288,245.337c-5.891,0-10.667-4.776-10.667-10.667V128.004c0-5.891,4.776-10.667,10.667-10.667 c5.891,0,10.667,4.776,10.667,10.667v106.667C298.667,240.562,293.891,245.337,288,245.337z'/%3E%3Cpath style='fill:%23F2BDD6;' d='M341.333,234.671h-1.195c-5.858-0.62-10.104-5.872-9.484-11.731 c0.004-0.036,0.008-0.073,0.012-0.109l10.667-96c0.692-5.867,5.963-10.093,11.84-9.493c5.855,0.648,10.077,5.919,9.43,11.775 c0,0,0,0.001,0,0.001l-10.667,96C351.368,230.543,346.793,234.667,341.333,234.671z'/%3E%3Cpath style='fill:%23F2BDD6;' d='M394.667,224.004c-5.891-0.002-10.665-4.779-10.664-10.67c0-0.869,0.107-1.735,0.317-2.578 l21.333-85.333c1.293-5.747,7.001-9.358,12.748-8.065c5.747,1.293,9.358,7.001,8.065,12.748c-0.036,0.161-0.076,0.321-0.12,0.48 l-21.333,85.333C403.829,220.669,399.562,224.003,394.667,224.004z'/%3E%3C/g%3E%3Cpath style='fill:%23BF95BC;' d='M437.333,352.004H191.125c-35.558-0.082-66.155-25.16-73.216-60.011L65.92,32.004H10.667 C4.776,32.004,0,27.228,0,21.337s4.776-10.667,10.667-10.667h64c5.07-0.001,9.439,3.566,10.453,8.533l53.717,268.587 c5.035,24.896,26.888,42.817,52.288,42.88h246.208c5.891,0,10.667,4.776,10.667,10.667C448,347.228,443.224,352.004,437.333,352.004 z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
        color: $resalt;
        transform: scale(0.5);
      }

      i {
        background-color: $resalt;
        color: $rare;
        border-radius: 50%;
        font-family: 'Poppins', serif;
        font-weight: 700;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 25px;
        height: 25px;
        text-align: center;
      }

    }
  }
        
}

@keyframes addCard {
  to {
    left: 0px;
  }
  from {
    left: -100px;
    opacity: 0;
  }
}
